.friend-item{
    border: 1px solid black;
    margin:5px;
    /* borderShadow:'1px solid gray', */
    padding:2px;
    padding-left: 10px;
    font-size: 75%;
    width: 7.5em;
}

.avatar-image{
    height: 40px;
    width: 40px;
    padding: 2px 10px;
}